/* 基本レイアウト　ここから↓ */


body {
    /* background-color: aquamarine; */
    /* background-color: transparent; */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* opacity: 0.5; */
    opacity: 1.0;
}

header,
#blackNotice,
#blackScore,
#contents,
#whiteScore,
footer {
    width: 1280px;
    margin: 0 auto 5px auto;
    background-color: antiquewhite;
    /* border: 1px dotted black; */
}



div#canvas {
    width: 1280px;
    margin: 0 auto 5px auto;
    background-color: black;
    /* border: 1px dotted black; */

    position: relative;

}


#myCanvas {
    /* width: 1280px; */
    /* margin: 0 auto 5px auto; */
    background-color: black;
    /* border: 1px dotted black; */
}



#board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: chartreuse;
    background-color: rgb(1, 34, 1);
    /* background-color: darkgreen; */

    width: 600px;
    height: 600px;

    /* border-radius: 20%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    opacity: 0.9;
}

.square {
    /* width: 45px; */
    /* height: 45px;     */
    width: 8%;
    height: 8%;

    /* background-color: rgb(80, 149, 80); */
    background-color: darkgreen;

    /* color: darkgreen; */
    color: orangered;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    /* border: 7px double white; */
    border: 6px double black;

    /* cursor: pointer; */
    pointer-events: none;
    position: relative;

}

.square:hover {
    border-color: rgb(214, 173, 187);
    /* background-color: rgb(214, 173, 187);
    color: rgb(214, 173, 187); */
}

.square p {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    /* line-height: 1.1; */
}

.square img {
    width: 85%;
    display: block;
    text-align: center;
    margin: 8px auto 0 auto;
}



.outer {
    /* background-color: rgb(1, 34, 1); */
    /* background-color: darkgreen; */
    pointer-events: none;
    /* font-size:0; */
    opacity: 0.01;
}













header,
footer {
    height: 80px;
    font-size: 300.00%;
    font-weight: bolder;
    text-align: center;
    line-height: 1.8;
}

header {
    background-color: aqua;
}

footer {
    background-color: orangered;
}


#blackNotice,
#blackScore,
#whiteNotice,
#whiteScore {
    display: flex;
    justify-content: space-between;
}

#blackNotice div,
#blackScore div {
    /* width: 256px; */
    height: 75px;
    font-size: 35px;
    text-align: center;
    line-height: 1.5;
    /* border: 15px solid black; */
}

#blackScore div#scoreBlack1,
#blackScore div#scoreBlack5 {
    width: 370px;
    font-size: 60px;
}

#whiteScore div,
#whiteNotice div {
    width: 170px;
    /* height: 75px; */
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    /* border: 15px solid black; */
}

























#contents {
    height: 630px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

#sub1,
#sub2 {
    width: 100px;
    /* background-color: powderblue; */
    border: 5px solid black;
}

#main {
    width: 1080px;
    border: 25px solid black;
    border-radius: 50%;
    font-size: 680px;
    text-align: center;
    background-image: url(/images/banpei_uk.png);
    /* background-size:70% auto;; */
    /* background-size:370px auto; */

    background-size: contain;
    /* background-size:cover;   */
    background-position: center;
    /* background-repeat:repeat-x; */

    position: relative;
}











/* .inner {
    pointer-events: none;
} */



.able {
    color: darkgreen;
    /* color: orangered;
    background-color: rgb(141, 110, 216); */
    /* font-size: 50px; */
    font-size: 5px;
    pointer-events: auto;
    cursor: pointer;
}





.black {
    color: black;
    font-size: 85px;
    pointer-events: none;
}

.white {
    color: white;
    font-size: 85px;
    pointer-events: none;
}

/* .noClick {
    pointer-events: none;
} */

.guide {
    /* border: 7px double rgb(141, 110, 216); */
    /* background-color: rgb(141, 110, 216); */
    opacity: 0.50;
}

.algorithm {

    /* background-color: darkgreen; */
    color: orangered;
    font-size: 50px;
    line-height: 1.0;
    text-align: center;



}





/* 色々と　ここまで↑ */